swagger: "2.0"
info:
  title: "Python Flask API"
  description: "Prediction Expense API"
  version: "1.0.0"

schemes:
  - https
produces:
  - application/json

paths:
  /:
    get:
      summary: Home page
      operationId: home
      responses:
        '200':
          description: A successful response
      x-google-backend:
        address: "${cloud_run_url}"  # Moved to the operation level

  /predict:
    post:
      summary: Make a prediction
      operationId: predict
      responses:
        '200':
          description: Prediction result
      x-google-backend:
        address: "${cloud_run_url}"  # Moved to the operation level

x-google-endpoints:
  - name: "${cloud_run_url_host}"
    allowCors: true

# If you want API key support, add a security section like this:
securityDefinitions:
  apiKey:
    type: apiKey
    in: header
    name: X-API-KEY

security:
  - apiKey: []
